title:            Bloggure
description:      Multi author blog about programming, computing and geek stuff
disqus_shortname: thereisnoplacelike1
#Comment out url when working locally to resolve base urls correctly
url:              http://www.bloggure.info
# url: https://4000-b70a7248-4dc1-4a14-838d-111a0e5b0296.ws-eu01.gitpod.io
plugins:
  - jekyll-gist
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-asciidoc
sass:
  sass_dir: _sass
  style: compressed
# Owner/author information
owner:
  name:           #Your Name
  avatar:         #avatar.jpg
  bio:            #"Your bio goes here. It shouldn't be super long but a good two sentences or two should suffice."
  email:          #you@email.com
  # Social networking links used in footer. Update and remove as you like.
  twitter:        
  facebook:       
  github:         
  stackexchange:  
  linkedin:       
  instagram:      
  flickr:         
  tumblr:         
  # For Google Authorship https://plus.google.com/authorship
  google_plus:   

# Analytics and webmaster tools stuff goes here
google_analytics: UA-11718843-3   
google_verify:      
# https://ssl.bing.com/webmaster/configure/verify/ownership Option 2 content= goes here
bing_verify:         

# Links to include in top navigation
# For external links add external: true
links:
#  - title: Theme Setup
#    url: /theme-setup
#  - title: External Link
#    url: http://mademistakes.com
#    external: true

# http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
timezone:    Europe/Paris
future:      true
highlighter: pygments
markdown:    kramdown

# https://github.com/mojombo/jekyll/wiki/Permalinks
permalink:   /:categories/:title

# Amount of post to show on home page
paginate: 5

kramdown:
  input: GFM
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  syntax_highlighter: coderay


  syntax_highlighter_opts:
    line_numbers: nil
    line_numbers_start: 1
    tab_width: 4
    bold_every: 10
    css: class

include: [".htaccess"]
exclude: ["lib", "config.rb", "Capfile", "config", "log", "Rakefile", "Rakefile.rb", "tmp", "less", "*.sublime-project", "*.sublime-workspace", "test", "spec", "Gruntfile.js", "package.json", "node_modules", "vendor"]
excerpt_separator: <!--more-->
