<div class="meny">
<nav role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/archive/">All Posts</a></li>
		<li><a href="/tags/">All Tags</a></li>
		{% for link in site.links %}<li>{% if link.external %}<a href="{{ link.url }}">{{ link.title }}</a>{% else %}<a href="{{ site.url }}{{ link.url }}">{{ link.title }}</a>{% endif %}</li>{% endfor %}
	</ul><!-- /.dl-menu -->
</nav><!-- /.dl-menuwrapper -->
</div>
<!--<div class="meny-arrow"></div>-->